<ul class="nav nav-tabs" style="margin: 0;">
    <li class="tab-title">
        {% if tab.icon %}
            <i class="{{ tab.icon }}"></i>
        {% else %}
            <i class="fa fa-check"></i>
        {% endif %}
        &nbsp;
        {{ tab.name|trans({},"titles") }}
    </li>
    <li>
        <ul id="{{ tab.id }}" class="nav nav-tabs" style="margin: 0;">
            {% for tabContent in tab.tabsContent if tabContent.type == constant("AlterPHP\\EasyAdminExtensionBundle\\Model\\Tab\\Tab::TAB_CONTENT") %}
                <li {% if loop.first %}class="active"{% endif%}>
                    <a data-toggle="tab" href="#{{ tabContent.id }}" title="{{ tabContent.title }}" {% if tabContent.route is not null %}tab-ajax="true" data-url="{{ url(tabContent.route,tabContent.routeParameters) }}"{% endif %}>
                        {% if tabContent.icon is not null %}<i class="{{ tabContent.icon }}"></i>&nbsp;{% endif %}{{ tabContent.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </li>
</ul>
<div class="tab-content">
    {% for tabContent in tab.tabsContent if tabContent.type == constant("AlterPHP\\EasyAdminExtensionBundle\\Model\\Tab\\Tab::TAB_CONTENT") %}
        <div class="tab-pane {% if loop.first %}active{% endif%}" id="{{ tabContent.id }}">
            {% for field, metadata in tabContent.fields %}
                {% include 'EasyAdminExtensionBundle:default:field_show.html.twig' %}
            {% endfor %}
            {% if tabContent.route is not null %}
                
            {% endif%}
        </div>
    {% endfor %}
</div>
<div id="lo-{{ tab.id }}" class="hide">
    <div class="tab-pane">{{ "Loading content"|trans }}</div>
</div>
<script>
    $(function() {
        $('[tab-ajax="true"]').click(function(e) {
            e.preventDefault();
            $this = $(this);
            if($this.parent().hasClass("active") == true){
                return;
            }
            var targ = $(this).attr('href');
            var loadurl = $(this).attr('data-url');
            $(targ).html($("#lo-{{ tab.id }}").html());
            $(targ).load(loadurl+'?ajax=true', function(){
                $this.tab('show');
                $('#{{ tab.id }}').tab(); //reinitialize tabs
            });
        });
    });
</script>
<style>
    .tab-title {
        padding: 11px;
        background-color: #0071BD;
        color: #fff;
    }
    .tab-content {
        background-color: #ffffff;
        padding: 16px 12px;
        position: relative;
        -webkit-box-shadow: 1px 0 10px 1px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 1px 0 10px 1px rgba(0, 0, 0, 0.3);
        box-shadow: 1px 0 10px 1px rgba(0, 0, 0, 0.3);
        margin-bottom: 20px;
    }
</style>