{% if easyadmin_action_is_enabled_for_list_view('new',entityName) %}
    {% set _action = easyadmin_get_action_for_list_view('new',entityName) %}
    {% block new_action %}
        <div class="button-action text-right">
            <a class="{{ _action.css_class|default('') }}" href="{{ path('easyadmin', _request_parameters|merge({ action: _action.name })) }}" target="{{ _action.target }}">
                {% if _action.icon %}<i class="fa fa-{{ _action.icon }}"></i>{% endif %}
                {{ _action.label is defined and not _action.label is empty ? _action.label|trans(_trans_parameters|default({})) }}
            </a>
        </div>
    {% endblock new_action %}
{% endif %}